* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body::-webkit-scrollbar {
  display: none;
}
#navbar {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}
.line {
  width: 15px;
  height: 2px;
  background-color: white;
  margin: 2px 0;
}
#menu-bar-1 {
  width: 30px;
}
#Host-page-1 img {
  width: 30px;
}
#Login-direct {
  color: white;
  font-family: Poppins;
}
#logo-1 {
  margin-left: -55%;
}
#logo-1 img {
  width: 200px;
}
#Host-page-1 p {
  color: black;
  font-family: Poppins;
}
#Host-page-1 {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: white;
  border-radius: 30px;
  padding: 7px;
  width: 200px;
  justify-content: center;
  margin-right: -53%;
}
#main-2 {
  position: relative;
}
#main-3 {
  position: relative;
  margin-top: 50px;
}
#image1 {
  width: 100%;
  height: 800px;
  margin-top: 0;
  position: relative;
}
#image2 {
  width: 100%;
  height: 800px;
  margin-top: 0;
  position: relative;
}
#image3 {
  width: 100%;
  height: 800px;
  margin-top: 0;
  position: relative;
}
#image1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#image2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#image3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#image-overlay {
  font-family: Poppins;
  font-weight: 600;
  font-size: 40px;
  color: white;
  background-color: black;
  width: 70%;
  margin: auto;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  opacity: 0.6;
  text-decoration: white;
}
#image-overlay-1 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 40px;
  color: white;
  background-color: black;
  width: 70%;
  margin: auto;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  opacity: 0.6;
  text-decoration: white;
}
#image-overlay-2 {
  font-family: Poppins;
  font-weight: 600;
  font-size: 40px;
  color: white;
  background-color: black;
  width: 70%;
  margin: auto;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
  opacity: 0.6;
  text-decoration: white;
}
#image-overlay-1 h3 {
  font-size: 25px;
}
#image-overlay-2 p {
  font-size: 25px;
}
#trip-details {
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#cline-1 {
  font-family: Poppins;
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
}
#cline-2 {
  font-family: Poppins;
  text-align: center;
  font-size: 30px;
  margin-top: 80px;
}
#cline-2 p {
  font-size: 20px;
}
#cline-3 {
  font-family: Poppins;
  text-align: center;
  font-size: 30px;
  margin-top: 80px;
}
#cline-3 p {
  font-size: 20px;
}
.gallery {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(10, 70vw);
  grid-template-rows: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  overflow: scroll;
  height: 100vh;
  scroll-snap-type: both mandatory;
  scroll-padding: 1rem;
  margin-top: 50px;
}
.gallery::-webkit-scrollbar {
  display: none;
}

.active {
  scroll-snap-type: unset;
}

.li {
  scroll-snap-align: center;
  display: inline-block;
  border-radius: 3px;
  font-size: 0;
}
.li img {
  width: 80%;
}
.inner-li-1 {
  font-family: Poppins;
  text-align: center;
}
.inner-li-1 h2 {
  color: grey;
}
.sidenav {
  font-family: "Poppins", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  transition: 0.1s;
}

.li-1 {
  padding: 0;
  text-decoration: none;
  font-size: 15px;
  color: black;
  display: block;
  transition: 0.3s;
}

.li-1:hover {
  color: #000000;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: #000000;
  text-decoration: none;
}

/* @media screen and (max-height: 450px) and (min-width : 100px) {
  .sidenav {
    padding-top: 15px;
  }
.li-1 {
    font-size: 18px;
  }
} */
.li-1 {
  display: flex;
  padding: 20px;
  justify-content: baseline;
  align-items: center;
  gap: 20px;
  color: rgb(82, 82, 82);
  font-size: 13px;
}
.li-1 img {
  width: 15px;
}
.li-main {
  width: 100%;
}

.container {
  position: absolute;
  height: 500px;
  width: 90%;
  top: 10%;
  left: calc(30% - 300px);
  display: flex;
}

.card {
  display: flex;
  height: 500px;
  width: 500px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-left: -50px;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card:not(:first-child) {
  margin-left: -50px;
}

.card:hover {
  transform: translateY(-30px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 60px;
  transition: 0.4s ease-out;
}

.title {
  color: white;
  font-weight: 600;
  position: absolute;
  left: 20px;
  top: 60%;
  font-family: Poppins;
}

.bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0, 154, 217);
  background: linear-gradient(
    90deg,
    rgba(0, 154, 217, 1) 0%,
    rgba(217, 147, 0, 1) 65%,
    rgba(255, 186, 0, 1) 100%
  );
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}

.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}
#container-1 {
  position: relative;
  margin-top: 100px;
  padding: 50px;
  background-color: rgb(222, 222, 222);
  height: 600px;
}
.card img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
#href-1 {
  font-family: Poppins;
  display: flex;
  justify-content: space-around;
  background-color: #383838;
  color: white;
  cursor: pointer;
  padding-top: 30px;
}
#footer-2 {
  background-color: #383838;
  font-family: Poppins;
  color: white;
  margin-top: -20px;
  padding-right: 50px;
  padding-bottom: 40px;
}
#footer-2 p {
  padding-left: 120px;
  margin-top: 20px;
}
#footer-2 h3 {
  padding-left: 120px;
  margin-top: 20px;
  padding-top: 20px;
}
#footer-2 h4 {
  padding-left: 120px;
  margin-top: 20px;
}
#inner-href-1:hover {
  text-decoration: underline;
  text-underline-offset: 7px;
}
#inner-href-2:hover {
  text-decoration: underline;
  text-underline-offset: 7px;
}
#inner-href-3:hover {
  text-decoration: underline;
  text-underline-offset: 7px;
}
#inner-href-4:hover {
  text-decoration: underline;
  text-underline-offset: 7px;
}
#footer-3 {
  font-family: Poppins;
  background-color: rgb(102, 102, 102);
  color: white;
  padding-left: 120px;
  padding-top: 30px;
}
#H1 {
  padding-top: 20px;
}
#H2 {
  padding-top: 20px;
}
#H3 {
  display: grid;
  padding-top: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(8, 50px);
  font-weight: lighter;
  font-size: 15px;
}
#ive {
  display: flex;
  gap: 19%;
}
#ive p {
  font-weight: lighter;
  font-size: 15px;
}
#social-media {
  padding-top: 20px;
}
#btn-logo {
  display: flex;
  gap: 40px;
  padding-top: 20px;
}
#btn-logo img {
  width: 40px;
}
#Nsl {
  display: flex;
  gap: 30%;
}
