body {
    margin: 0px;
    padding: 0px;
}

#arrow {
    margin-left: 30%;
    margin-top: 40px;
}

.arrow {
    margin-top: 40px;
    font-size: 30px;
}

.Social {
    margin-left: 30%;

}

.Social>h1 {
    font-size: 20px;
    font-weight: 800;

    color: black;
}


.google__link {
    display: flex;

    width: 50%;
    height: 50vh;

    flex-direction: column;
    margin-left: 30%;


}

.google__link .line {
    width: 100%;
    border-bottom: 1px solid darkgrey;
    height: 1px;
    margin: 5px 0px;
}

.google__link a {

    display: flex;
    gap: 20px;

    color: black;
    cursor: auto;
    font-weight: 100px;
    text-decoration: none;
}

.details {
    width: 60%;
    display: flex;
    margin: auto;

    align-items: center;
    margin-left: 30%;
    margin-top: 40px;

    gap: 20px;
}

.details .input {
    display: flex;

    align-items: center;
    height: 60px;
    width: 70%;
    border-radius: 5px;
    border: 2px solid green;
    transition: border-color 0.3s;

}


.details .input>input {
    height: 30px;
    font-size: 15px;
    font-size: 100;
    margin-left: 10px;

    visibility: visible;
    outline: none;
    border: 0px;


}